<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Course</key>
	<array>
		<dict>
			<key>course_name</key>
			<string>สาขาวิชาการบัญชี</string>
			<key>course_image</key>
			<string>accounting.jpg</string>
			<key>course_html</key>
			<string>accounting</string>
		</dict>
		<dict>
			<key>course_name</key>
			<string>สาขาวิชาคอมพิวเตอร์ธุรกิจ</string>
			<key>course_image</key>
			<string>computer.jpg</string>
			<key>course_html</key>
			<string>computer</string>
		</dict>
		<dict>
			<key>course_name</key>
			<string>สาขาวิชาการตลาด</string>
			<key>course_image</key>
			<string>marketing.jpg</string>
			<key>course_html</key>
			<string>marketing</string>
		</dict>
		<dict>
			<key>course_name</key>
			<string>สาขาวิชาการประกอบการ</string>
			<key>course_image</key>
			<string>coop.jpg</string>
			<key>course_html</key>
			<string>coop</string>
		</dict>
		<dict>
			<key>course_name</key>
			<string>สาขาวิชาการจัดการการท่องเที่ยว</string>
			<key>course_image</key>
			<string>tourism.jpg</string>
			<key>course_html</key>
			<string>tourism</string>
		</dict>
		<dict>
			<key>course_name</key>
			<string>สาขาวิชาการจัดการโลจิสติกส์อุตสาหกรรม</string>
			<key>course_image</key>
			<string>im.jpg</string>
			<key>course_html</key>
			<string>im</string>
		</dict>
		<dict>
			<key>course_name</key>
			<string>สาขาวิชาการจัดการ</string>
			<key>course_image</key>
			<string>management.jpg</string>
			<key>course_html</key>
			<string>management</string>
		</dict>
		<dict>
			<key>course_name</key>
			<string>สาขาวิชาภาษาอังกฤษธุรกิจ</string>
			<key>course_image</key>
			<string>business_eng.jpg</string>
			<key>course_html</key>
			<string>business_eng</string>
		</dict>
		<dict>
			<key>course_name</key>
			<string>สาขาวิชาภาษาจีนธุรกิจ</string>
			<key>course_image</key>
			<string>business_chineses.jpg</string>
			<key>course_html</key>
			<string>business_chineses</string>
		</dict>
		<dict>
			<key>course_name</key>
			<string>สาขาวิชาภาษาญี่ปุ่นธุรกิจ</string>
			<key>course_image</key>
			<string>business_japaneses.jpg</string>
			<key>course_html</key>
			<string>business_japaneses</string>
		</dict>
		<dict>
			<key>course_name</key>
			<string>สาขาวิชาการสื่อสารการตลาด</string>
			<key>course_image</key>
			<string>nitate.jpg</string>
			<key>course_html</key>
			<string>nitate</string>
		</dict>
		<dict>
			<key>course_name</key>
			<string>สาขาวิชารัฐประศาสนศาสตร์</string>
			<key>course_image</key>
			<string>rps.jpg</string>
			<key>course_html</key>
			<string>rps</string>
		</dict>
		<dict>
			<key>course_name</key>
			<string>สาขาวิชาเทคโนโลยีสารสนเทศ</string>
			<key>course_image</key>
			<string>science.jpg</string>
			<key>course_html</key>
			<string>it</string>
		</dict>
		<dict>
			<key>course_name</key>
			<string>สาขาวิชาภูมิสารสนเทศ</string>
			<key>course_image</key>
			<string>science.jpg</string>
			<key>course_html</key>
			<string>geo</string>
		</dict>
		<dict>
			<key>course_name</key>
			<string>สาขาวิชาการประถมศึกษา</string>
			<key>course_image</key>
			<string>ed.jpg</string>
			<key>course_html</key>
			<string>ed</string>
		</dict>
	</array>
</dict>
</plist>
